@import 'variables';

html {
  font-size: @base-font-size;
}

body {
  font-family: @font-family;
  font-size: 1em;
  background-color: @gray;
  color: @text-color;
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.8em;
}

p {
  font-size: 1.3em;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding: @base-padding * 10;
  color: @text-color;
}

.container > * {
  background-color: @white;
}

header {
  text-align: center;
  padding: 0 @base-padding * 3;
}

header img {
  &:extend(.image-size);

  border-radius: @image-width;
  margin-top: -0.5 * @image-width;
}

header #introduction {
  border-bottom: @border-width solid @gray-border-color;
}

#introduction p {
  text-transform: uppercase;
  font-weight: bold;
  margin: @base-margin 0;
}

#introduction p:nth-child(1) {
  font-size: @base-font-size * 2.2;
  margin: @base-margin 0;
}

#introduction p:nth-child(2) {
  font-size: @base-font-size * 2;
}

main {
  padding: @base-padding * 4;
  padding-top: @base-padding * 2;
  font-size: @base-font-size * 1.2;
}

section h2 {
  text-transform: uppercase;
  margin: @base-margin 0;
  color: @primary-color;
}

#education li {
  position: relative;
}

#education li + li {
  position: relative;
  margin-top: @base-margin;
}

#education li > p {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 8%;
  font-weight: bold;
  font-size: @base-font-size * 1.6;
}

#education .content {
  background-color: @background;
  display: inline-block;
  width: 80%;
  margin-left: 12%;
}

.content p {
  margin: @base-margin*1 / 2;
}

.content p:nth-child(1) {
  font-size: @base-font-size * 1.6;
  font-weight: bold;
}

.content p:nth-child(2) {
  font-size: @base-font-size * 1.4;
}
